<center><h3>News from news.ycombinator.com</h3></center>
<div class="container-fluid">
  <table class="table table-striped">
    <tr>
      <th >Id</th>
      <th>Title</th>
      <th>Url</th>
      <th>Author</th>
    </tr>
   
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><a href="<%= article.url %>"><%= article.url %></a></td>
        <td><%= article.author %></td>
      </tr>
    <% end %>
  </table>
<center><%= will_paginate @articles %></center>
</div>